.navbar {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.navbar-brand {
    margin-right: auto
}
.navbar-links {
    display: flex;
    gap: 16px;
}